.friendsItem{
    width: 390px;
    padding: 15px 20px;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.name {
    font-size: 30px;
    font-weight: 600;
}
.status{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.true{   
    background-color: green;
}
.false{
    background-color: red;
}
