.item{
    width: 130px;
    height: 100px;
    background-color: teal;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}

.item:last-child {
    border: none;
}
.label{
    font-weight: 200;
    color: rgba(0, 0, 0, 0.5);
}
.percentage{
    font-weight: 600;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
}